<h1>Grödor för 2012</h1>
<div ng-app="cropsApp" ng-controller="cropList">
    <form ng-submit="saveCrop()" class="well" name="cropForm">
        <fieldset>
            <legend>Lägg till gröda</legend>
            <label for="cropType">Gröda</label>
            <input type="hidden" name="Id" ng-model="crop.Id" value="0" />

            <select id="cropType" ng-model="crop.CropTypeId" ng-options="i.Id as i.Name for i in items" required></select>

            <label for="area">Areal (ha)</label>
            <input type="number" ng-model="crop.Hectare" id="area" name="area" required />

            <label for="output">Avkastning (kg/ha)</label>
            <input type="number" ng-model="crop.YieldPerHectare" id="output" name="output" required />

            <label class="radio">
                <input type="radio" ng-model="crop.Estimated" name="isCalculated" value="true" required ng-checked="crop.Estimated === true"/>
                Uppskattad skörd
            </label>
            <label class="radio">
                <input type="radio" ng-model="crop.Estimated" name="isCalculated" value="false" ng-checked="crop.Estimated === false" required />
                Avräknad skörd
            </label>
        </fieldset>
        <div class="btn-toolbar">
            <button class="btn btn-primary" type="submit" ng-disabled="cropForm.$invalid || cropForm.$pristine">Lägg till</button>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Typ</th>
                <th>Areal </th>
                <th>Skörd</th>
                <th>Beräknad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in cropList">
                <td>{{c.CropTypeId | viewcrop}}</td>
                <td>{{c.Hectare}}</td>
                <td>{{c.YieldPerHectare}}</td>
                <td>{{c.Estimated | viewestimated}}</td>
              
                <td>
                    <button class="btn btn-info" ng-click="editRow($index)">Ändra</button>
                    <button class="btn btn-danger" ng-click="removeCrop($index)">Radera</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

@section scripts
{
    <script src="/Scripts/angular-1.1.4/angular.js"></script>
    <script src="/Scripts/angular-1.1.4/angular-resource.js"></script>
    <script src="/Scripts/app/crops.js"></script>
}
