@model CropStats.Controllers.AuthenticationLogin

@using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
{
    @Html.LabelFor(m => m.CustomerNumber)
    @Html.TextBoxFor(m => m.CustomerNumber)

    @Html.LabelFor(m => m.ActivationCode)
    @Html.PasswordFor(m => m.ActivationCode)
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary">Logga in</button>
    </div>
}